go 1.23.2

use (
	//./app/cart
	//./app/checkout
	//./app/email
	./app/frontend
	//./app/order
	//./app/payment
	//./app/product
	//./app/user
	//./common
)

replace github.com/apache/thrift => github.com/apache/thrift v0.13.0
