{{ define "ai" }}
{{ template "header" . }}
<div class="row">
    <div class="card border-0" style="width: 100%;">
        <div class="card-body row">
            <div class="col-lg-5 col-sm-12 flex-column align-self-end">
                <img src="https://tuchuang.hch1212.online/img/aila5.png" class="col-lg-4 col-sm-12" alt="AI Logo">
                <p>Welcome to the AI Chat Interface</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-8">
        <div style="margin-bottom: 30px">示例：帮我下单1个商品名为02.1的商品 (注：下单后会加入购物车，请自己核对付款)</div>
        <!-- 输入框和提交按钮 -->
        <form method="POST" action="/eino">
            <div class="mb-3">
                <label for="content" class="form-label">Your Content <span class="text-danger">*</span></label>
                <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>

{{ template "footer" . }}
{{ end }}