{{ define "aiOK" }}
{{ template "header" . }}
<div class="row">
    <div class="card border-0" style="width: 100%;">
        <div class="card-body row">
            <div class="col-lg-5 col-sm-12 flex-column align-self-end">
                <img src="https://tuchuang.hch1212.online/img/aila5.png" class="col-lg-4 col-sm-12" alt="AI Logo">
                <p>Welcome to the AI Chat Interface</p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center" style="text-align: center">
    <p>已将商品添加到购物车，请检查购物车后手动下单，如果出现错误请手动修改</p>
</div>

{{ template "footer" . }}
{{ end }}