{{define "footer"}}
<footer>
    <div class="text-bg-light text-center p-2">
        <p>&copy; <a href="https://github.com/MyGoFor">E-commerce</a></p>
    </div>
</footer>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{{end}}