{{define "sign-in"}}
{{template "header" .}}
<div class="row justify-content-center">
<div class="col-4">
<form method="POST" action="/auth/login">
    <div class="mb-3">
        <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3">
        Don't have account, click here to <a href="/sign-up">Sign up</a>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
</form>
</div>
</div>
{{template "footer" .}}
{{end}}