name: Run

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

#env:
#  HOST: 139.159.145.82  # 部署的服务器地址
#  USER: root # 部署的服务器用户名
#  GOPROXY: https://goproxy.cn,direct
#  PRIVATE_KEY: ${{ secrets.SSH_KEY }} # 部署的服务器私钥

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # 获取完整的历史记录

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Start docker
        run: make docker

      - name: Start Server
        run: make user_run && make product_run && make cart_run && make order_run && make payment_run && make checkout_run && make email_run && make frontend_run
